body{
    margin: auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    
}
/* --------------
Header styles
--------------- */
.heading-img{
    display: flex;
}
.heading{
    width: 50%;
}
.heading-a{
    text-decoration: none;
    border: 1px solid gray;
    background-color:#E83A59;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
}
.fa-arrow-right{
    color: white;

}
    
.heading-image{
        display: flex;
        
    }

  /* -----------------------------
  Responsive styles for mobile  
  --------------------------------*/

@media only screen and (max-width: 480px) {
    .first-h1 {
      text-align: center;
    } 
    
    .image {
        width: 50%;
        height: 50%;
    }
}
/* -----------------------------
  Responsive styles for tablet  
  --------------------------------*/
  @media only screen and (min-width: 481px)and (max-width:767px) {
    .first-h1 {
      text-align: center;
    }
    .heading-image{
        display: flex;
        flex-direction: column-reverse;
    }
}
/* -------------
main style
---------------- */
.main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
.fa-star, .fa-star-half-alt{
    color: #A77B06;
}
/* -----------------------------
  Responsive styles for mobile  
  --------------------------------*/

  @media only screen and (max-width: 480px) {
    .main-div {
        display: flex;
        flex-direction: column;
        max-width: 480px;
        background-color: powderblue;
    }
       
}
/* -----------------------------
  Responsive styles for tablet  
  --------------------------------*/

@media only screen and (max-width:767px){
    .main-div{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .tripod-img .tripod-details{
        width: 50%;
    }
       
}
/* -------------
Footer style 
---------------*/
footer{
    padding: 20px;
    text-align: center;
    align-items: center;
    background-color: #120E43;
    color: white;
}
.fab{
    margin-left: 20px;
}
